@font-face {
    font-family: angel;
    src: url(../fonts/Bitcount_Grid_Double_Ink/BitcountGridDoubleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: lindo;
    src: url(../fonts/Momo_Signature/MomoSignature-Regular.ttf) format("truetype");
    font-weight: 900;
}